.key
.pem
.vsscode
.env
extensions.json
settings.json
launch.json
tasks.json
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db
.idea/
.vscode/
node_modules/
dist/
build/
coverage/
*.zip
*.tar.gz   
teste.json 